body{
    font-size:14px !important;
}
i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px rgba(255,255,255,.7);
    padding: 0.5em 0.6em;
    
  
  }
  .icon-spacing{
    word-spacing:10px;
  }
  .navbar-dark .navbar-nav .nav-link{
      color: rgba(255,255,255,.7);
  }
  .navbar-brand{
      font-size: 1rem;
  }
  .nav-tabs{
      border-bottom:none !important;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
      color:black;
      box-shadow:3px 3px 14px 2px rgba(0,0,0,.07);
      border-radius:5px;
      padding:10px 25px;
      line-height: 0.2;
      
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link span{
      text-align: center;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:not(i){
    text-align: left;
  }

  .nav-tabs .nav-item{
      padding:2px 5px;
      width:25%;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link .tab-icon{
    color:#3396ff !important;
    font-size:1.5rem;
    padding:10px 0px;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active .tab-icon{
    color:#3396ff !important;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
        border:2px solid #3396ff!important;
        border-radius:5px;
        font-weight:bold ;
      }
/*verical tab*/
.tab {
    float: left;
    width: 30%;
    height: 300px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
  }
  .tab button .tab-icon{
      color:#3396ff;
  }
  /* Change background color of buttons on hover */
  .tab button:hover {
   background: linear-gradient(to right, #cce5ff 0%, #ffffff 100%);
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
background: linear-gradient(to right, #cce5ff 0%, #ffffff 100%);
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 0px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
  }
  /*button default*/
  .btn-default{
      border:2px solid #f2f2f2;
  }
  .buttons{
	  float:right;
  }
/*chart*/
.chart{
/*border:1px solid #eee;*/
padding:10px;
}
#myChart{
	position:relative;
width:130% !important;
height:100% !important;
float:right;
}
#myChart1{
width:193% !important;
height:100% !important;
float:right;
}


.title{
	color:#3396ff;
	text-align: left;
	font-weight:bold;
	margin-bottom:3px;
	font-size:10px;
}
.chart-label{
	display:inline-flex;
	margin-bottom:0px !important;
	
}
.chart-label li{
	padding:0px 10px 8px 0px;
	display:inherit;
	font-size:10px;
	font-weight:bold;
}
.chart-label li a{
	color:#fff !important;
	padding:1px 0px !important;
	border-radius:0px;
	margin:0px 0px 0 8px;
	width:35px;	
	font-size:10px;
	
}
/*media*/
@media (max-width:768px){
	.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
		line-height:1.2;
	}
	.tab {
    float: left;
    width: 100%;
   
	}
.nav-tabs .nav-item{
	width:50%;
}
#myChart{
	float:left;
	width:100% !important;
	height:50% !important;
}
#myChart1{
	width:100% !important;
	height:100% !important;
}
}
@media(max-width:1024px){
	.chart-label{
		display:inline;
	}
	
	
}
@media(max-width:425px){
	.tabcontent{
		width:100%;
	}
	
	
}
@media(min-width:769px)and(max-width:1024px){
	
#myChart{
		width:100% !important;
	height:100% !important;
	}
}